{% component _copyright(config: map, ctx: map, _ca_profile) %}{%
  set lang_base_url = get_url(path=``, lang=ctx.lang, trailing_slash=false) %}{%
  if config.extra.footer?.copyright is string %}{%
    set copyright = config.extra.footer.copyright | replace(from=`$BASE_URL`, to=lang_base_url) %}{%
    if config.extra.footer.license_url is string %}{%
      set license_url = <_link dest={config.extra.footer.license_url} ctx /> %}{%
      set copyright = copyright | replace(from=`$LICENSE_URL`, to=license_url) %}{%
    endif %}{%
  else %}{%
    if _ca_profile?.name %}{%
      set copyright = "&copy;&nbsp;$YEAR " ~
        <_profile_name username={_ca_profile.name} lang={ctx.lang} profiles={config.extra.profiles} /> %}{%
    else %}{%
      set copyright = "&copy;&nbsp;$YEAR" %}{%
    endif %}{%
    if config.extra.footer?.license_url is string %}{%
      set license_url = <_link dest={config.extra.footer.license_url} ctx /> %}{%
      set copyright = '[' ~ copyright ~ '](' ~ license_url ~ ')' %}{%
    endif %}{%
  endif %}{%
  set current_year = now() | date(format=`%Y`) | int %}{%
  if config.extra.footer?.since is number and config.extra.footer.since != current_year %}{%
    set copyright_years = '<time datetime="' ~ config.extra.footer.since ~ '">' ~
      config.extra.footer.since ~ '</time>&ndash;<time datetime="' ~ current_year ~ '">' ~
      current_year ~ '</time>' %}{%
  else %}{%
    set copyright_years = '<time datetime="' ~ current_year ~ '">' ~ current_year ~ '</time>' %}{%
  endif %}{%
  set copyright = copyright | replace(from=`$YEAR`, to=copyright_years) %}{{
    copyright | markdown(inline=true) | safe
}}{% endcomponent %}
